
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button"  class="btn btn-info" data-toggle="modal" data-target="#Modal1">
    Hakkımda 
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Hakkımda
            </div>
            <br />
            <div style="margin-left:10px">
                Merhaba ben <a href="#">Muhammet Burak Demir;</a>
            </div>
            <div style="margin-left:10px">20 yaşındayım. Yazılım da kendimi geliştirmek istediğim bu alanda Murat Yücedağ'ın ücretsiz yayınladığı ASP.NET ve diğer eğitimler sayesinde bu isteğimi gerçekleştirebiliyorum.
            </div>
            <br />
            <div style="margin-left:10px"> 
            Tarih: 25.01.2023
            </div>
        </div>
    </div>
</div>

